.task_container {
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task {
  flex-grow: 1;
  margin-left: 10px;
}

.line_through {
  text-decoration: line-through;
  flex-grow: 1;
  margin-left: 10px;
}

.deleteButton {
  margin-left: 10px;
}

.deleteButton:hover {
  background-color: red !important;
  color: white;
}

.formControl {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
